<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="MuKuai.SLDPRT">
  <link
    name="MuKuai">
    <inertial>
      <origin
        xyz="0.015 0.015 0.015"
        rpy="0 0 0" />
      <mass
        value="0.0081" />
      <inertia
        ixx="1.215E-06"
        ixy="3.1764E-23"
        ixz="-1.9086801888593E-39"
        iyy="1.215E-06"
        iyz="0"
        izz="1.215E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://MuKuai/meshes/MuKuai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://MuKuai/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://MuKuai/meshes/MuKuai.STL" />
      </geometry>
    </collision>
  </link>
</robot>