<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cube_hole.SLDPRT">
  <link
    name="cube_hole">
    <inertial>
      <origin
        xyz="5.9047E-19 -1.2962E-18 1.8895E-18"
        rpy="0 0 0" />
      <mass
        value="0.089657" />
      <inertia
        ixx="4.2732E-05"
        ixy="2.8799E-21"
        ixz="2.76367191918653E-37"
        iyy="4.2732E-05"
        iyz="3.29112957589764E-22"
        izz="4.8107E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://cube_hole/meshes/cube_hole.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://cube_hole/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://cube_hole/meshes/cube_hole.STL" />
      </geometry>
    </collision>
  </link>
</robot>
